<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - DevBlog</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div id="toast-success" class="toast-success">Action completed successfully🥳</div>
      <div id="toast-failure" class="toast-failure">Something went wrong. Please try again☹️</div>

      <div class="page-header">
        <h1><%= title %></h1>
        <a href="/" class="btn-sm">⬅ Back</a>
      </div>

      <div class="card">
        <div class="meta">
          <span>✍ Author: <%= author %></span>
          <span>👁 <%= views %> views</span>
          <span>📅 <%= createdAt %></span>
        </div>

        <p class="details-content"><%= content %></p>

        <div class="card-actions">
          <a href="/edit/<%= id %>" class="btn-sm warning">Edit</a>

          <button class="btn-sm danger" onclick="return confirmDelete('<%= id %>');">Delete</button>
        </div>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
